.turn-wrapper {
    position: absolute;
    top:34vh;
    left:0vh;
    width: 18%;
    /*background-color:red;*/
    height:8rem;
    /*background-color:red;*/
    color:white;
    font-family: emulogicregular, Georgia, 'Times New Roman', serif;
    text-align: center;
    font-size: 1.5rem;
    padding-left:1rem;
    padding-right:1rem;
}

/*DESKTOP ONLY CODE*/

@media screen and (min-width: 700px) {

 .turn-wrapper {
     font-size: 1.5rem;
 }
}


/*MOBILE ONLY CODE*/
@media screen and (max-width: 700px) {

    .turn-wrapper {
        font-size: 1rem;
        left:-3vh;
    }
}